* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
body{
    color: #0f0f0f;
    background: #e1e1e1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background: #0f0f0f;
    color: #e1e1e1;
    padding: 2em;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

.navbar {
    display: flex;
    gap: 1rem;

    div{

        a {
            font-size: 1rem;
            position: relative;

            &:focus,
            &.active {
                color: #e28c8c;
            }

            &::after {
                content: '';
                height: 2px;
                width: 100%;
                background-color: #e28c8c;
                position: absolute;
                left: 0;
                bottom: -8px;
                opacity: 0;
                transition: all 0.3s;
            }

            &:hover::after,
            &:focus::after,
            &.active::after {
                opacity: 1;
            }
        }
    }
    
}

.access {
    display: flex;
    gap: 1rem;
    align-items: center;

    & .connexion {
        
        button {
            
        }
    }
}