<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blog - <% title %> </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="#">Exousia.</a>
        <nav>
            <a href="#"></a>
            <a href="#">Home</a>
            <a href="#">Créer un article</a>
            <a href="#">Lire un articles</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    
